server:
  port: 3000
  bodyLimit: 100
  cors:
    enable: true
  log:
    enable: false
  ssl:
    enable: false
    generateKey:
      enable: true
      keyConfig:
        commonName: "localhost"
        file: "./certs/server.p12"
        password: "password"
    key: # for generateKey: enable: false
      file: "./certs/manual-key.p12"
      password: "password"
services:
  - path: "/orders"
    stripPath: true
    timeout: 60
    servers:
      - "http://localhost:3001"
  - path: "/products"
    stripPath: true
    timeout: 60
    servers:
      - "http://localhost:3002"