server:
  port: 3000
  bodyLimit: 100
  cors:
    enable: true
  log:
    enable: false
  ssl:
    enable: false
    generateKey:
      enable: true
      keyConfig:
        commonName: "localhost"
        file: "./certs/server.p12"
        password: "password"
    key: # for generateKey: enable: false
      file: "./certs/manual-key.p12"
      password: "password"

plugins:
  - name: "auth"
    path: "./plugins/auth-plugin"
    settings:
      api_key: "my-secret-key"
      header_name: "X-API-Key"

services:
  - path: "/orders"
    stripPath: true
    timeout: 60
    plugins:
      - "auth"
    servers:
      - "http://localhost:3001"
  - path: "/products"
    stripPath: true
    timeout: 60
    plugins:
      - "auth"
    servers:
      - "http://localhost:3002"